@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,200&display=swap');

/********** BODY **********/

body {
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}

body a {
    color: black;
}
/********** HEADER **********/

header {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/********** NAV **********/

.nav1 {
    margin: auto;
    padding: 0;
    display: grid;
    text-align: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: 
                    "logo . . sign-up"
                    "lodging lodging activity activity";
}

.nav2 {
    display: none;
}

a {
    text-decoration: none;
}

.nav-logo {
    margin: auto;
    min-width: 90px;
    max-width: 90px;
    padding-top: 0.9rem;
    padding-right: 0%;
    padding-left: 1rem;
    align-content: center;
    grid-area: logo;
}

.nav-sign-up {
    margin: auto;
    padding-left: 0%;
    padding-right: 1rem;
    min-width: 90px;
    max-width: 90px;
    grid-area: sign-up;
}

.nav-sign-up a {
    font-weight: bold;
    color: #0065fc;
}

.nav-lodging {
    border-bottom: 3px solid transparent;
    padding: 1.5rem 0rem;
    grid-area: lodging;
}

.nav-lodging a {
    width: 100%;
    color: #0065fc;
}

.nav-lodging:hover {
    cursor: pointer;
    border-bottom: 3px solid #0065fc;
}

.nav-lodging:hover a {
    color: #0065fc;
}

.nav-lodging a {
    padding: 2rem 0;
    color: #000000;
}

.nav-activity {
    border-bottom: 3px solid transparent;
    padding: 1.5rem 0rem;
    grid-area: activity;
}

.nav-activity:hover {
    cursor: pointer;
    border-bottom: 3px solid #0065fc;
}

.nav-activity:hover a {
    color: #0065fc;
}

.nav-activity a {
    padding: 2rem 0;
    color: #000000;
}

/********** MAIN **********/

main {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}

/********** SEARCH **********/

.search {
    margin: auto;
    padding: 0.5rem 0;
}

.title-h1 {
    width: 90%;
    max-width: 570px;
    margin: auto;
    padding: 0.5rem 0;
    font-size: 1.7rem;
    font-weight: 600;
}

.subtitle {
    width: 90%;
    max-width: 570px;
    margin: auto;
    padding: 0;
    font-size: 1rem;
}

.research1 {
    width: 90%;
    max-width: 570px;
    margin: auto;
    padding: 1rem 0;
}

.research2 {
    width: 90%;
    display: none;
    margin: auto;
    padding: 1rem 0;
}

.searchicon {
    background-color: #f2f2f2;
    padding: 1rem 1.2rem;
    border: 1px solid #f2f2f2;
    border-radius: 14px 0px 0px 14px;
    font-size: 1rem;
}

.searchbar {
    width: 50%;
    max-width: 15rem;
    padding: 1rem;
    border: 1px solid #f2f2f2;
    font-family: 'Raleway', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: rgb(146, 146, 146);
    outline: none;
}

.searchbutton {
    background-color: #0065fc;
    padding: 1rem 1.5rem;
    border: 1px solid #0065fc;
    border-radius: 0px 14px 14px 0px;
    font-size: 1rem;
    color: white;
}

.filter {
    margin: auto;
    width: 90%;
    max-width: 570px;
}

.title-h2 {
    height: 20%;
    margin: 0;
    display: flex;
    font-size: 1.5rem;
    font-weight: 600;
}

.filter ul {
    width: 90%;
    padding: 0;
    display: inline-flex;
    flex-wrap: wrap;
}

.filter a {
    display: inline-block;
    margin-top: 10px;
    margin-left: 0;
    margin-right: 25px;
    padding: 0 20px 0 0;
    border: 2px solid #f2f2f2;
    border-radius: 200px;
    font-weight: 900;
    transition: 0.4s;
    color: black;

}

.filter a:hover {
    background-color: #f0f6ff;
}

#economique {
    background-color: #DEEBFF;
    height: 1rem;
    margin-right: 0.7rem;
    color: #0065fc;
    border: 1rem solid #DEEBFF;
    border-radius: 2rem;
}

#familial {
    background-color: #DEEBFF;
    height: 1rem;
    margin-right: 0.7rem;
    padding: 0 2px;
    color: #0065fc;
    border: 1rem solid #DEEBFF;
    border-radius: 2rem;
}

#romantique {
    background-color: #DEEBFF;
    height: 1rem;
    margin-right: 0.7rem;
    color: #0065fc;
    border: 1rem solid #DEEBFF;
    border-radius: 2rem;
}

#animaux {
    background-color: #DEEBFF;
    height: 1rem;
    margin-right: 0.7rem;
    color: #0065fc;
    border: 1rem solid #DEEBFF;
    border-radius: 2rem;
}

.info {
    width: 90%;
    margin: 0 7%;
    margin-top: 2rem;
    display: flex;
 }

.info i {
    height: 2rem;
    width: 2rem;
    min-height: 2rem;
    min-width: 2rem;
    color: #0065fc;
    border: 1px solid #f2f2f2;
    border-radius: 2rem;
    font-size: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info p {
    margin: auto 1rem;
}
/********** POPULAR **********/

.lodgingblock {
    background-color: rgb(255, 255, 255);
}

.lodgingblock i {
    font-size: 15px;
}

#popular {
    background-color: #f2f2f2;
    margin: 2rem auto;
    padding: 0.8rem 0rem;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.populartitle{
    margin: 1.5rem auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
}

.populartitle i {
    font-size: 1.5rem;
    font-weight: 600;
}

.lodgingtitle {
    margin: 1.5rem auto;
    width: 85%;
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    font-weight: 600;
}

.populartitle p {
    font-weight: 900;
    font-size: 1.4rem;
}

.popularhotel1, .popularhotel2, .popularhotel3 {
    background-color: white;
    margin: 1rem auto;
    max-height: 150px;
    min-height: 150px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.popularhotel1:hover, .popularhotel2:hover, .popularhotel3:hover {
    transform: scale(1.05);
}

.popularphoto {
    padding: 0.5rem;
    width: 110px;
    min-width: 110px;
    border-radius: 20px 0px 0px 20px;
    object-fit: cover;
}

.popularprice {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.popularprice h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 600;
}

.popularprice p {
    margin-top: 0.5rem;
    padding: 0;
    font-size: 15px;
}

.popularprice2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.popularprice2 h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    padding: 0;
    font-size: 17px;
    font-weight: 600;
}

.popularprice2 p {
    margin-top: 0.5rem;
    padding: 0;
    font-size: 15px;
}

.boldprice {
    font-weight: bold;
}

.star-align-pop {
    height: 100%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star-align-lod {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.star {
    margin-bottom: 2%;
    display: flex;
}

.bluestar {
    padding: 0.1rem;
    color: #0065fc;
    font-size: 1.1rem;
}

.greystar {
    padding: 0.1rem;
    color: #f2f2f2;
    font-size: 1.1rem;
}

/********** LODGING **********/

.lodging {
    background-color: #ffffff;
    margin: 2rem auto;
    padding: 0.8rem 0rem;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
}

.lodginghotel1 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel1:hover {
    transform: scale(1.05);
}

.lodginghotel2 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel2:hover {
    transform: scale(1.05);
}

.lodginghotel3 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel3:hover {
    transform: scale(1.05);
}

.lodginghotel4 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel4:hover {
    transform: scale(1.05);
}

.lodginghotel5 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel5:hover {
    transform: scale(1.05);
}

.lodginghotel6 {
    background-color: white;
    margin: 1rem auto;
    height: 200px;
    min-height: 200px;
    width: 85%;
    border-radius: 20px 20px;
    box-shadow: 0px 0px 15px #dddddd;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    transition: 0.4s;
}

.lodginghotel6:hover {
    transform: scale(1.05);
}

.lodgingphoto {
    padding-bottom: 0.3rem;
    padding-right: 0.5rem;
    padding-left: 0.5rem;
    padding-top: 0.5rem;
    height: 100px;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.lodgingprice {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.lodgingprice h3 {
    margin-top: 0.5rem;
    margin-bottom: 0;
    margin-left: 1rem;
    padding: 0;
    font-size: 17px;
    font-weight: 600;
}

.lodgingprice p {
    margin-top: 0.3rem;
    margin-bottom: 0rem;
    margin-left: 1rem;
    padding: 0;
    font-size: 15px;
}

.lodgingstar {
    margin-bottom: 2%;
    margin-top: 0.2rem;
    margin-left: 1rem;
    display: flex;
}

.showmore {
    margin: 1.5rem 0;
    margin-left: 10%;
    font-size: 18px;
    font-weight: bold;
}
/********** ACTIVITY **********/


.marseilleactivity {
    margin: 0rem auto;
    padding: 0.8rem 0rem;
    width: 85%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
}

.activitytitle {
    margin: auto;
    width: 84%;
    font-size: 1.5rem;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.activityarea1:hover {
    transform: scale(1.05);
}

.activityarea1 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea2 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea2:hover {
    transform: scale(1.05);
}

.activityarea3 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea3:hover {
    transform: scale(1.05);
}

.activityarea4 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea4:hover {
    transform: scale(1.05);
}

.activityarea5 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea5:hover {
    transform: scale(1.05);
}

.activityarea6 {
    background-color: white;
    margin: 2rem auto;
    height: 125px;
    width: 100%;
    border-radius: 20px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    box-shadow: 0px 0px 15px #dddddd;
    transition: 0.4s;
}

.activityarea6:hover {
    transform: scale(1.05);
}

.activityphoto {
    margin: auto;
    height: 100px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    object-fit: cover;
}

.area-name {
    margin-left: 1rem;
    margin-top: 0.6rem;
    margin-bottom: 1.7rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
}

/********** FOOTER **********/

footer {
    background-color: #f2f2f2;
    width: 100%;
    margin: auto;
}

.footerblock {
    width: 90%;
    margin: auto;
    padding: 1rem 0rem;
}

.footertitle {
    margin: 0;
    padding: 0.3rem 0;
    font-size: 1.1rem;
    font-weight: 600;
}

.footer1 {
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.footer2 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

.footer3 {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
}

footer a {
    padding: 0.2rem 0;
    color: black;
}

footer a:hover {
    cursor: pointer;
    text-decoration: underline black;
}
/********** MEDIA QUERIES **********/

@media screen and (min-width: 667px) and (max-width: 1100px) {
    

    /********** HEADER **********/

    header {
        width: 90%;
    }

    /********** NAV **********/

    .nav1 {
        display: none;
    }

    .nav2 {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .nav-logo {
        margin: 0;
        min-width: 90px;
        max-width: 90px;
        padding-top: 0.9rem;
        padding-left: 0%;
        padding-right: 0;
    }
    
    .nav-sign-up {
        margin: 0;
        margin-left: 2rem;
        min-width: 90px;
        max-width: 90px;
        padding-top: 1.7rem;
        padding-left: 0%;
        padding-right: 0;
    }

    .nav2-menu {
        display: flex;
    }

    .nav-lodging {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-lodging:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-lodging a {
        padding: 2rem;
    }

    .nav-activity {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-activity:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-activity a {
    padding: 2rem;

    }


    /********** SEARCH **********/

    .title-h1 {
        margin:  auto;
        max-width: none;
    }

    .subtitle {
        margin: auto;
        max-width: none;
    }

    .research1 {
        display: none;
        margin: 0;
        padding: 1rem 0;
    }
    
    .research2 {
        display: flex;
        margin: auto;
        padding: 1rem 0;
    }
    
    .searchbar {
        width: 15rem;
    }

    .filter {
        width: 90%;
        max-width: none;
        display: flex;
        justify-content: flex-start;
    }

    .title-h2 {
        margin-top: 2.2rem;
        margin-left: 0rem;
        margin-right: 25px;
        display: inline;
    }

    .filter ul {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    
    /********** POPULAR **********/

    #popular {
        width: 90%;
        border-radius: 20px 20px;
    }

    .popularhotel1 {
        background-color: white;
        margin: 1rem auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        transition: 0.4s;
    }

    .popularhotel2 {
        background-color: white;
        margin: 1rem auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        transition: 0.4s;
    }

    .popularhotel3 {
        background-color: white;
        margin: 1rem auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
        justify-content: flex-start;
        align-content: center;
        transition: 0.4s;
    }
    
    .popularphoto {
        width: 250px;
    min-width: 250px;
    }

    /********** LODGING **********/

    .lodging {
        background-color: #f2f2f2;
        height: 100%;
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: 70px repeat(3, 270px) 50px;
        grid-template-areas: 
                        "title title"
                        "hotel1 hotel2"
                        "hotel3 hotel4"
                        "hotel5 hotel6"
                        "more more";

    }

    .populartitle {
        grid-area: title;
    }

    .lodgingtitle {
        width: 100%;
        margin-left: 2.2rem;
    }

    .lodgingphoto {
        height: 130px;
    }

    .lodginghotel1 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel1;
    }

    .lodginghotel2 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel2;
    }

    .lodginghotel3 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel3;
    }

    .lodginghotel4 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel4;
    }

    .lodginghotel5 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel5;
    }

    .lodginghotel6 {
        height: 225px;
        min-height: 225px;
        width: 85%;
        grid-area: hotel6;
    }

    .showmore {
        margin-left: 4.5%;
        grid-area: more;
    }

    /********** ACTIVITY **********/

    .activitytitle {
        width: 89%;
    }

    .marseilleactivity {
        margin: 0rem auto;
        display: grid;
        grid-gap: 0rem 2rem;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
                        "activity1 activity2"
                        "activity3 activity4"
                        "activity5 activity6";
    }

    .activityphoto {
        height: 160px;
        margin: auto;
    }

    .activityarea1 {
        height: 200px;
        width: 100%;
        grid-area: activity1;
    }

    .activityarea2 {
        height: 200px;
        width: 100%;
        grid-area: activity2;
    }

    .activityarea3 {
        height: 200px;
        width: 100%;
        grid-area: activity3;
    }

    .activityarea4 {
        height: 200px;
        width: 100%;
        grid-area: activity4;
    }

    .activityarea5 {
        height: 200px;
        width: 100%;
        grid-area: activity5;
    }

    .activityarea6 {
        height: 200px;
        width: 100%;
        grid-area: activity6;
    }

    .area-name {
        margin-top: 0.8rem;
    }

    /********** FOOTER **********/

    .footerblock {
        width: 90%;
        margin: auto;
        padding: 1rem 0rem;
        display: flex;
        align-content: flex-start;
    }
    
    .footer1 {
        margin: 0;
    }
    
    .footer2 {
        margin: 0 4rem;
    }
    
    .footer3 {
        margin: 0 4rem;
    }
}


/********** MEDIA QUERIES **********/

@media screen and (min-width: 1101px) and (max-width: 1439px) {

    /********** HEADER **********/

    header {
        width: 90%;
    }

    /********** NAV **********/

    .nav1 {
        display: none;
    }

    .nav2 {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .nav-logo {
        margin: 0;
        min-width: 90px;
        max-width: 90px;
        padding-top: 0.9rem;
        padding-left: 0%;
        padding-right: 0;
    }
    
    .nav-sign-up {
        margin: 0;
        margin-left: 2rem;
        min-width: 90px;
        max-width: 90px;
        padding-top: 1.7rem;
        padding-left: 0%;
        padding-right: 0;
    }

    .nav2-menu {
        display: flex;
    }

    .nav-lodging {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-lodging:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-lodging a {
        padding: 2rem;
    }

    .nav-activity {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-activity:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-activity a {
    padding: 2rem;

    }



    /********** SEARCH **********/

    .title-h1 {
        margin:  auto;
        max-width: none;
    }

    .subtitle {
        margin: auto;
        max-width: none;
    }

    .research1 {
        display: none;
        margin: 0;
        padding: 1rem 0;
    }
    
    .research2 {
        display: flex;
        margin: auto;
        padding: 1rem 0;
    }
    
    .searchbar {
        width: 15rem;
    }

    .filter {
        width: 90%;
        max-width: none;
        margin: auto;
        display: flex;
        justify-content: flex-start;
    }

    .title-h2 {
        margin-top: 2.2rem;
        margin-right: 25px;
        display: inline;
    }

    .filter ul {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        width: 90%;
        margin: auto;
        margin-top: 2rem;
    }
    /********** LODGINGBLOCK **********/

    .lodgingblock {
        display: flex;
        flex-direction: column;
    }
    
    /********** POPULAR **********/

    #popular {
        background-color: #f2f2f2;
        margin-top: 1rem;
        padding: 0.8rem 0rem;
        width: 90%;
        border-radius: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .populartitle {
        grid-area: title;
        margin: auto;
        width: 95%;
    }

    .popularphoto {
        padding: 0.5rem;
        width: 125px;
        min-width: 125px;
        border-radius: 20px 0px 0px 20px;
        object-fit: cover;
    }

    .popularhotel1 {
        background-color: white;
        margin: 1.7rem 0;
        height: 20vh;
        width: 30%;
        border-radius: 20px 20px;
        display: flex;
    }
    
    .popularhotel2 {
        background-color: white;
        margin: 1.7rem 0;
        height: 20vh;
        width: 30%;
        border-radius: 20px 20px;
        display: flex;
    }

    .popularhotel3 {
        background-color: white;
        margin: 1.7rem 0;
        height: 20vh;
        width: 30%;
        border-radius: 20px 20px;
        display: flex;
    }

    .popularprice p {
        margin-bottom: 2.2rem;
        padding: 0;
    }

    /********** LODGING **********/

    .lodging {
        background-color: #f2f2f2;
        margin: auto;
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
    }

    .lodgingtitle {
        width: 95%;
    }

    .lodgingphoto {
        min-height: 125px;
    }

    .lodginghotel1 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .lodginghotel2 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .lodginghotel3 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .lodginghotel4 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .lodginghotel5 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .lodginghotel6 {
        height: 225px;
        min-height: 225px;
        width: 30%;
    }

    .showmore {
        margin-left: 2.5%;
    }
    /********** ACTIVITY **********/

    .activitytitle {
        width: 89%;
        margin-top: 2rem;
    }

    .marseilleactivity {
        height: 450px;
        max-width: 1360px;
        width: 90%;
        display: grid;
        grid-gap: 0 2.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 0.4fr 0.4fr 1fr 1fr;
        grid-template-areas: 
                        "activity1 activity2 activity4 activity5"
                        "activity1 activity2 activity4 activity5"
                        "activity1 activity2 activity4 ."
                        "activity1 . activity4 activity6"
                        "activity1 activity3 activity4 activity6"
                        "activity1 activity3 activity4 activity6";
    }

    .activityphoto {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .activityarea1 {
        height: 100%;
        width: 100%;
        grid-area: activity1;
    }

    .activityarea2 {
        height: 100%;
        width: 100%;
        grid-area: activity2;
    }

    .activityarea2 img {
        height: 77%;
    }

    .activityarea3 {
        height: 100%;
        width: 100%;
        grid-area: activity3;
    }

    .activityarea3 img {
        height: 71%;
    }

    .activityarea4 {
        height: 100%;
        width: 100%;
        grid-area: activity4;
    }

    .activityarea5 {
        height: 100%;
        width: 100%;
        grid-area: activity5;
    }

    .activityarea5 img {
        height: 71%;
    }

    .activityarea6 {
        height: 100%;
        width: 100%;
        grid-area: activity6;
    }

    .activityarea6 img {
        height: 77%;
    }

    .area-name {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
        /********** FOOTER **********/

    .footerblock {
        width: 90%;
        margin: auto;
        margin-top: 4rem;
        padding: 1rem 0rem;
        display: flex;
        align-content: center;
    }
    
    .footer1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2rem;
        margin-right: 6rem;
    }
    
    .footer2 {
        margin: 0 7rem;
    }
    
    .footer3 {
        margin: 0 7rem;
    }
}



/********** MEDIA QUERIES **********/

@media screen and (min-width: 1440px) {

    /********** HEADER **********/

    header {
        max-width: 1375px;
        width: 95%;
    }

    /********** NAV **********/

    .nav1 {
        display: none;
    }

    .nav2 {
        display: flex;
        justify-content: space-between;
        align-content: center;
    }

    .nav-logo {
        margin: 0;
        min-width: 90px;
        max-width: 90px;
        padding-top: 0.9rem;
        padding-left: 0%;
        padding-right: 0;
    }
    
    .nav-sign-up {
        margin: 0;
        margin-left: 2rem;
        min-width: 90px;
        max-width: 90px;
        padding-top: 1.7rem;
        padding-left: 0%;
        padding-right: 0;
    }

    .nav2-menu {
        display: flex;
    }

    .nav-lodging {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-lodging:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-lodging a {
        padding: 2rem;
    }

    .nav-activity {
        border-top: 3px solid transparent;
        border-bottom: none;
    }

    .nav-activity:hover {
        border-top: 3px solid #0065fc;
        border-bottom: none;
    }

    .nav-activity a {
    padding: 2rem;

    }

    /********** SEARCH **********/

    .title-h1 {
        width: 95%;
        max-width: none;
        margin:  auto;
    }

    .subtitle {
        width: 95%;
        max-width: none;
        margin: auto;
    }

    .research1 {
        display: none;
        margin: 0;
        padding: 1rem 0;
    }
    
    .research2 {
        width: 95%;
        display: flex;
        margin: auto;
        padding: 1rem 0;
    }
    
    .searchbar {
        width: 15rem;
    }

    .filter {
        width: 95%;
        max-width: none;
        margin: auto;
        display: flex;
        justify-content: flex-start;
    }

    .title-h2 {
        margin-top: 2.2rem;
        margin-right: 25px;
        display: inline;
    }

    .filter ul {
        margin-left: 0;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
    }

    .info {
        width: 95%;
        margin: auto;
        margin-top: 2rem;
    }

    /********** LODGINGBLOCK **********/

    .lodgingblock {
        margin: auto;
        width: 95%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    
    /********** POPULAR **********/

    #popular {
        background-color: #f2f2f2;
        margin: 2rem 0;
        padding: 0;
        width: 30%;
        border-radius: 20px 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
    }

    .populartitle {
        grid-area: title;
        margin: 0 auto;
        padding-top: 0.2rem;
        width: 85%;
    }

    .popularphoto {
        padding: 0.5rem;
        width: 125px;
        min-width: 125px;
        border-radius: 20px 0px 0px 20px;
        object-fit: cover;
    }

    .popularhotel1 {
        background-color: white;
        margin-top: 0.3rem;
        margin-bottom: 1.5rem;
        margin-left: auto;
        margin-right: auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
    }
    
    .popularhotel2 {
        background-color: white;
        margin: 1.5rem auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
    }

    .popularhotel3 {
        background-color: white;
        margin: 1.5rem auto;
        height: 15vh;
        width: 85%;
        border-radius: 20px 20px;
        display: flex;
    }

    .popularprice p {
        margin-top: 0.5rem;
        margin-bottom: 0rem;
        padding: 0;
    }

    .star-align-pop {
        width: auto;
    }

    .star {
        margin-bottom: 3%;
        display: flex;
    }

    /********** LODGING **********/

    .lodging {
        background-color: #f2f2f2;
        margin: 2rem 0;
        height: 60%;
        width: 65%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        align-content: center;
    }

    .lodgingphoto {
        min-height: 125px;
    }

    .lodgingtitle {
        width: 95%;
    }

    .lodginghotel1 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .lodginghotel2 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .lodginghotel3 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .lodginghotel4 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .lodginghotel5 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .lodginghotel6 {
        height: 225px;
        min-height: 225px;
        width: 28%;
    }

    .showmore {
        margin-left: 5%;
    }

    /********** ACTIVITY **********/

    .activitytitle {
        width: 94%;
    }

    .marseilleactivity {
        height: 450px;
        max-width: 1360px;
        width: 95%;
        display: grid;
        grid-gap: 0 2.5rem;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr 1fr 0.4fr 0.4fr 1fr 1fr;
        grid-template-areas: 
                        "activity1 activity2 activity4 activity5"
                        "activity1 activity2 activity4 activity5"
                        "activity1 activity2 activity4 ."
                        "activity1 . activity4 activity6"
                        "activity1 activity3 activity4 activity6"
                        "activity1 activity3 activity4 activity6";
    }

    .activityphoto {
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-radius: 20px 20px 0px 0px;
        object-fit: cover;
    }

    .activityarea1 {
        height: 100%;
        width: 100%;
        grid-area: activity1;
    }

    .activityarea2 {
        height: 100%;
        width: 100%;
        grid-area: activity2;
    }

    .activityarea2 img {
        height: 77%;
    }

    .activityarea3 {
        height: 100%;
        width: 100%;
        grid-area: activity3;
    }

    .activityarea3 img {
        height: 71%;
    }

    .activityarea4 {
        height: 100%;
        width: 100%;
        grid-area: activity4;
    }

    .activityarea5 {
        height: 100%;
        width: 100%;
        grid-area: activity5;
    }

    .activityarea5 img {
        height: 71%;
    }

    .activityarea6 {
        height: 100%;
        width: 100%;
        grid-area: activity6;
    }

    .activityarea6 img {
        height: 77%;
    }

    .area-name {
        margin-top: 1.2rem;
        margin-bottom: 1.2rem;
    }
        /********** FOOTER **********/

    .footerblock {
        width: 100%;
        max-width: 1400px;
        margin: auto;
        margin-top: 4rem;
        padding: 1rem 0rem;
        display: flex;
        align-content: center;
    }
    
    .footer1 {
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 2rem;
        margin-right: 6rem;
    }
    
    .footer2 {
        margin: 0 7rem;
    }
    
    .footer3 {
        margin: 0 7rem;
    }
}
